<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
  </head>
  <body>
    <h1>Adventure MadLibs</h1>
    <p>@Model.GetName1() and @Model.GetName2() are on their flight to @Model.GetLocation() when @Model.GetName1() yells @Model.GetExclamation() my @Model.GetBodyPart()! Luckily their was an @Model.GetOccupation() on board. Ill save you he said! Then the @Model.GetOccupation() began to @Model.GetViolentAction() the @Model.GetBodyPart() of @Model.GetName1().</p>
  </body>
</html>
